{% extends "base.html" %}

{% block title %}
Chat Rooms - Lecture Lounge
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>

    <ul id="messages">
        <!-- Messages will appear here -->
    </ul>

    <input id="message_input" autocomplete="off">
    <button onclick="sendMessage()">Send</button>

    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(data) {
            var ul = document.getElementById('messages');
            var li = document.createElement('li');
            li.appendChild(document.createTextNode(data.username + ": " + data.msg));
            ul.appendChild(li);
        });

        function sendMessage() {
            var message = document.getElementById("message_input").value;
            socket.emit('message', {
                msg: message,
                username: '{{ user.username }}',  // Replace this with the username from current_user
                timestamp: new Date().toISOString(),
                room: 'example_room'  // Replace this with the room the user is in
            });
        }
    </script>

</body>
</html>
{% endblock %}
